body {
    font-family: "Roboto", sans-serif;
}

h1,
h2 {
    font-family: "Noto Sans", serif;
}

.navbar-brand {
    font-family: "Noto Sans", serif;
}

.p {
    font-family: "Roboto", sans-serif;
}

.navbar {
    padding-top: 0.5.rem;
    padding-bottom: 0.5.rem;
    min-height: 70px; 
    border-bottom: 4px solid #000000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05); 
}

.navbar-nav .nav-link {
    font-size: 1.25rem; 
    font-weight: 500;  
    font-weight: bold;
}

header {
    margin-top: 100px; 
}

.header-title {
    font-size: 48px;
    font-weight: bold;
}

.yellow {
    background-color: #ffd43a;
    color: #22272e;
}

.blue {
    background-color: #43a3cf;
    color: #fff;
}

.dark-blue {
    background-color: #225cad;
    color: #fff;
}

.light-grey {
    background-color: #bdbdbd;
    color: #22272e;
}

.tan {
    background-color: #f3c5a2;
    color: #22272e;
}

section {
    scroll-margin: 50px;
}

.card {
    border: 1px solid #ddd;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-service {
    background-color: #22272e;
    color: #fff;
    cursor: pointer;
}

.card-service:hover {
    background-color: #f1f105;
    color: #22272e;
}

.card-title {
    font-weight: bold;
    font-size: 22px;
}

.gallery-card {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.gallery-img {
    object-fit: cover;
    height: 400px;
    filter: brightness(85%);
}

.partner-img {
    object-fit: contain;
    width: 120px;
    padding: 0 2%;
}

.gallery-description {
    position: absolute;
    bottom: 0;
    left: 0x;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 3%px;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 3%;
}

.text-large {
    font-size: 1.25rem;
}


/* Colour pallette options !!!!DELETE UNUSED!!!! */


/* Colour scheme 1 - Calm Blues */

/* .color-scheme {
    --tiffany-blue: #a1d2ceff;
    --tiffany-blue-2: #78cad2ff;
    --verdigris: #62a8acff;
    --blue-munsell: #5497a7ff;
    --dark-cyan: #50858bff;
}

/* Colour scheme 2 - Rich Blue/Black */

/* .color-scheme {
    --rich-black: #04080fff;
    --glaucous: #507dbcff;
    --powder-blue: #a1c6eaff;
    --columbia-blue: #bbd1eaff;
    --platinum: #dae3e5ff;
}   

